{% extends 'base.html' %}
{% load static %}
{% block head %}
<script src="{% static 'ajax.js' %}" charset="utf-8"></script>
{% endblock %}
{% block body %}
<h1>Ajax</h1>
<p>Testing out AJAX (Asynchronous JavaScript And XML)!</p>
<br />
<div style="height: 12em; background-color: lightgrey; border-style: outset;">
  <h1>Did you know?</h1>
  <p id=funFact>Press the "Get fun fact" button for a fun fact!</p>
</div>
<br />
<button type="button" onclick="getFact()">Get fun fact</button>
{% endblock %}
