{% extends 'base.html' %}
{% block head %}{% endblock %}
{% block body %}
<h1>Welcome to Mason's website!</h1>
<p>This is just a really quick thing I made with Django, basically this thing allows you to run Python code in the browser.</p>
<form method="POST" action="{% url 'python_compiler' %}">
  {% csrf_token %}
  Type in python code here:
  <br />
  <textarea name="code" rows="20" cols="60" id="textbox" >{{ textbox }}</textarea>
  <br /><br />
  <input type="submit" value="Run code!">
</form>
{% if output %}
<h2>Output</h2>
<p>{{ output }}</p>
{% endif %}
{% endblock %}
